{% extends 'base.html.twig' %}

{% block title %}Hello EleccionesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {% if mesa is not null %}
    <h1>Resultados MESA {{mesa.id}} {{mesa.centro}} {{mesa.localidad}}</h1>
{% else %}
    <p>No se encontró la mesa solicitada.</p>
{% endif %}

    {{form(form)}}

    {{ dump(votos) }}

    

    <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% endblock %}
